/* BELAUG COPY PROTECT START */

html:not([data-belaug-owner="true"]) .copy-protect,
html:not([data-belaug-owner="true"]) .copy-protect *,
html:not([data-belaug-owner="true"]) .tab-panel:not(#panel-comments),
html:not([data-belaug-owner="true"]) .tab-panel:not(#panel-comments) *{
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

html:not([data-belaug-owner="true"]) .copy-protect img,
html:not([data-belaug-owner="true"]) .tab-panel:not(#panel-comments) img{
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

/* BELAUG COPY PROTECT END */
